@charset "UTF-8";

@font-face {
  font-family: "EastSeaDokdo-Regular";
  font-display: swap;
  src: url("../fonts/EastSeaDokdo-Regular.woff") format("woff"), url("../fonts/EastSeaDokdo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "XanhMono-Italic";
  font-display: swap;
  src: url("../fonts/XanhMono-Italic.woff") format("woff"), url("../fonts/XanhMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "XanhMono-Regular";
  font-display: swap;
  src: url("../fonts/XanhMono-Regular.woff") format("woff"), url("../fonts/XanhMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

._container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
}

._container a {
  text-decoration: none;
}

body {
  color: #fff;
  font-size: 14px;
  margin: 0;
}

body._lock {
  overflow: hidden;
}

body.lock {
  overflow: hidden;
}

.header {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 1080px;
  background: url("../img/Header/mainslider_2.png") top no-repeat;
}

.top-header {
  padding: 30px 0px 0px 0px;
  overflow: hidden;
}

.top-header__content {
  display: flex;
  align-items: center;
}

.top-header__column {
  flex: 1 1 auto;
}

.top-header__logo {
  align-self: flex-start;
  flex: 1 0 190px;
}

.top-header__social a {
  padding: 0px 5px;
}

.top-header__button button {
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #f4f4f4;
  padding: 20px 53px 20px 53px;
  background-color: #36c0ee;
}

.menu__list {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.menu__list a {
  font-size: 14px;
  font-weight: 400;
  color: #f4f4f4;
}

.menu__list li {
  list-style-type: none;
}

.menu__link {
  padding: 20px;
}

.contacts-header a {
  color: #f4f4f4;
}

.quote-top-header {
  margin: 240px 0px 0px 0px;
}

.quote-top-header__label {
  color: #f4f4f4;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-top-header__text {
  margin: 20px 0px 0px 0px;
  color: #f4f4f4;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.quote-top-header__text p {
  width: 500px;
}

.quote-top-header__button {
  margin: 40px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-top-header__button button {
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #f4f4f4;
  padding: 20px 53px 20px 53px;
  background-color: #36c0ee;
}

.about-page {
  font-family: 'Open Sans', sans-serif;
  margin: 50px 0px 0px 0px;
  color: black;
}

.about-page__top {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.about-page__column {
  margin: 0px 50px 0px 50px;
  width: 700px;
  height: 500px;
}

.about-page__dots {
  display: flex;
}

.about-page__arrow-prev img {
  margin: 0px 5px 0px 50px;
  border: 2px solid #36c0ee;
  width: 40px;
  height: 40px;
}

.about-page__arrow-prev :hover {
  border: 2px solid #000000;
}

.about-page__arrow-next img {
  border: 2px solid #36c0ee;
  margin: 0px 50px 0px 50px;
  width: 40px;
  height: 40px;
}

.about-page__arrow-next :hover {
  border: 2px solid #000000;
}

.column-about-page {
  margin: 0px 0px 40px 0px;
}

.column-about-page__lable {
  color: #36c0ee;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0px 0px 50px 0px;
}

.column-about-page__paragraph {
  margin: 0px 0px 42px 0px;
  width: 700px;
  color: #555555;
  font-weight: bold;
  padding: 10px 20px 30px 30px;
  border-left: 4px solid #36c0ee;
}

.column-about-page__text {
  width: 630px;
  font-weight: 100;
  font-size: 14px;
}

.botom-about-page {
  padding: 50px 20px 50px 20px;
  margin: 55px 0px 50px 0px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  border-top: 1px solid #36c0ee;
  border-bottom: 1px solid #36c0ee;
  justify-content: space-between;
}

.botom-about-page__column {
  display: flex;
  align-items: center;
}

.botom-about-page__label {
  color: #36c0ee;
  font-weight: 400;
  font-size: 60px;
}

.botom-about-page__text {
  color: #555555;
  margin: 0px 0px 0px 10px;
}

.offer {
  background: url("../img/Offer/offwer-bg.png") 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.offer-page {
  font-family: 'Open Sans', sans-serif;
  margin: 50px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.offer-page__column {
  margin: 0px 80px;
}

.offer-page__lable {
  margin: 100px 0px 40px 0px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
}

.offer-page__lable1 {
  text-align: center;
  margin: 40px 0px 20px 0px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
}

.offer-page__text1 {
  text-align: center;
}

.offer-page__text1 p {
  margin: 50px 0px 20px 0px;
}

.offer-page__price {
  margin: 30px 0px 0px 0px;
  color: #36c0ee;
  font-size: 40px;
  font-weight: 700;
}

.offer-page__colum1 {
  margin: 80px 70px;
  padding: 10px;
  background-color: #36c0ee;
}

.offer-page__time span {
  color: #36c0ee;
  font-size: 40px;
  font-weight: 400;
  padding: 0px 4px;
  margin: -10px 0px -5px 0px;
}

.offer-page__button {
  margin: 40px 0px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-page__button button {
  outline: none;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: 600;
  color: #f4f4f4;
  padding: 15px 48px;
  background-color: #36c0ee;
}

.time-offer-page {
  display: flex;
  justify-content: space-between;
  color: #36c0ee;
  background-color: #fff;
  padding: 5px 30px;
  margin: 0px 70px 30px 70px;
  align-items: center;
}

.time-offer-page__column {
  padding: 10px;
  text-align: center;
}

.rules-page {
  font-family: 'Open Sans', sans-serif;
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 10px 156px;
  padding: 70px 74px;
  border: 1px solid #36c0ee;
}

.rules-page__label {
  color: #36c0ee;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  margin: 0px 0px 60px 0px;
}

.rules-page__text {
  width: 450px;
  margin: 10px 0px;
}

.rules-page__text p {
  padding: 0px 0px 60px 0px;
}

.rules-page__text :last-child {
  padding: 0px 0px 0px 0px;
}

.working-page {
  font-family: 'Open Sans', sans-serif;
  margin: 30px 40px 0px 40px;
  color: #000;
  padding: 100px 20px;
}

.working-page__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #36c0ee;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 50px;
}

.working-page__button {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.working-page__button button {
  outline: none;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: 600;
  color: #f4f4f4;
  margin: 30px 0px 0px 0px;
  padding: 15px 48px;
  background-color: #36c0ee;
}

.working-page__dots {
  display: flex;
}

.working-page__dots img {
  width: 30px;
  height: 30px;
}

.working-page__prev img {
  margin: 0px 5px 0px 50px;
  border: 2px solid #36c0ee;
  width: 40px;
  height: 40px;
}

.working-page__prev :hover {
  border: 2px solid #000000;
}

.working-page__next img {
  border: 2px solid #36c0ee;
  margin: 0px 50px 0px 50px;
  width: 40px;
  height: 40px;
}

.working-page__next :hover {
  border: 2px solid #000000;
}

.slide-working-page__column {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 30px 0px;
}

.slide-working-page__preview {
  margin: 0px 40px 0px 40px;
}

.slide-working-page__description {
  padding: 0;
}

.description-working__lable {
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0px 0px 30px 0px;
}

.description-working__wrapper {
  text-align: right;
}

.description-working__wrapper li {
  list-style-type: none;
}

.description-working__list li {
  list-style-type: none;
  color: #36c0ee;
  /* Цвет маркеров */
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 0px;
}

.description-working__list ::after {
  content: '';
  background: url("../img/About/black-circle.png");
  width: 100px !important;
  height: 100px !important;
  width: 100% !important;
  height: 100%;
}

.description-working__list span {
  color: #000;
  /* Цвет текста */
}

.swiper-pagination-bullets {
  padding: 0px 0px -130px 0px;
  z-index: 100px;
}

.done-page {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  margin: 50px 0px 10px 0px;
}

.done-page__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #36c0ee;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 70px;
}

.slide-done-page {
  color: #555555;
  padding: 10px;
}

.slide-done-page__column {
  display: flex;
  justify-content: space-between;
}

.slide-done-page__preview {
  margin: 43px -300px -5px 0px;
  z-index: 100;
}

.slide-done-page__body {
  border: 1px solid #36c0ee;
  padding: 88px 40px 40px 0px;
}

.slide-done-page__wrapper {
  padding: 0px 0px 0px 400px;
}

.slide-done-page__label {
  font-size: 26px;
  font-weight: 400;
  padding: 0px 0px 30px 40px;
}

.slide-done-page__info {
  padding: 0px 0px 40px 0px;
}

.slide-done-page__text {
  color: #a6a6a6;
}

.team-page {
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  margin: 100px 0px 20px 0px;
}

.team-page__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #36c0ee;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}

.team-page__text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px 300px;
  font-weight: 400;
  font-size: 14px;
}

.team-page__video {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 50px 0px;
}

.info-video {
  margin: 120px 0px 0px 80px;
  padding: 0px 0px 0px 40px;
  border-left: 4px solid #36c0ee;
  height: 220px;
}

.info-video__name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  font-size: 25px;
}

.info-video__position {
  font-weight: 700;
  margin: 0px 0px 50px 0px;
}

.info-video__text {
  color: #a6a6a6;
  padding: 0px 100px 0px 0px;
  top: 0;
  left: 0;
}

.workers-page {
  font-family: 'Open Sans', sans-serif;
  margin: 50px 0px 100px 0px;
  color: #a6a6a6;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.workers-page__slide {
  vertical-align: center;
  width: 200px;
}

.workers-page__name {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.workers-page__quote {
  font-weight: 900;
  color: black;
}

.workers-page__dots {
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  margin-top: 50px;
}

.workers-page__prev img {
  margin: 0px 100px 0px 100px;
  border: 2px solid #36c0ee;
  width: 40px;
  height: 40px;
}

.workers-page__prev :hover {
  border: 2px solid #000000;
}

.workers-page__next img {
  border: 2px solid #36c0ee;
  margin: 0px 100px 0px 100px;
  width: 40px;
  height: 40px;
}

.workers-page__next :hover {
  border: 2px solid #000000;
}

.call {
  background: url("../img/MakeACall/make_a_call_bg.png") 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
  font-family: 'Open Sans', sans-serif;
}

.call-page__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-page__title {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 400;
  margin: 50px 0px 24px 0px;
}

.call-page__text {
  width: 80%;
  margin: 0px 0px 36px 0px;
}

.call-page__name {
  margin: 20px;
}

.call-page__name input {
  border: 0;
  color: #fff;
  padding: 15px 40px;
  background: rgba(197, 197, 197, 0.6);
}

.call-page__email {
  margin: 20px;
}

.call-page__email input {
  border: 0;
  color: #fff;
  padding: 15px 40px;
  background: rgba(197, 197, 197, 0.6);
}

.call-page__button {
  margin: 20px;
}

.call-page__button button {
  width: 200px;
  border: 0;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  color: #f4f4f4;
  padding: 15px 40px;
  background-color: #36c0ee;
}

.regards-page {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  margin: 160px 0px 100px 0px;
}

.regards-page__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #36c0ee;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 50px;
}

.regards-page__text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px 300px;
  font-weight: 400;
  font-size: 14px;
}

.regards-page__row {
  display: flex;
  text-align: center;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: flex-end;
}

.regards-page__item {
  font-weight: 700;
  font-size: 14px;
}

.footer {
  background: #36c0ee;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  margin: 50px 0px 70px 0px;
}

.footer__social {
  margin-top: -40px;
  padding: 50px;
}

.footer__comercial img {
  margin: 10px 0px 0px 0px;
}

.footer__column {
  padding: 0px 0px 20px 50px;
}

.info-footer__label {
  font-weight: 700;
  font-size: 16px;
  margin: 0px 0px 10px 0px;
}

.info-footer__list {
  padding-left: 0px;
}

.info-footer__list li {
  font-weight: 100;
  font-size: 12px;
  color: #fdfdfd;
  padding: 0px 0px 5px 0px;
  list-style-type: none;
}

.contact-footer {
  align-items: flex-start;
  margin-top: -50px;
}

.contact-footer__label {
  font-weight: 700;
  font-size: 16px;
  margin: 0px 0px 10px 0px;
}

.contact-footer__list {
  padding-left: 0px;
}

.contact-footer__list ul {
  margin: 0;
}

.contact-footer__list li {
  font-weight: 100;
  font-size: 12px;
  padding: 0px 0px 5px 0px;
  list-style-type: none;
}

.contact-footer__list li a {
  color: #fdfdfd;
}

@media (max-width: 1640px) {
  .menu__link {
    padding: 7px;
  }
}

@media (max-width: 1500px) {
  .slide-working-page__preview img {
    width: 700px;
  }

  .description-working__list p {
    padding: 0px 20px 0px 0px;
  }
}

@media (max-width: 1440px) {
  .top-header__logo img {
    width: 100px;
  }

  .top-header__social a {
    display: none;
  }

  .top-header__button button {
    font-size: 12px;
    padding: 10px 23px;
  }

  .menu__list a {
    font-size: 12px;
  }

  .contacts-header__phone {
    font-size: 12px;
  }
}

@media (max-width: 1400px) {
  .slide-working-page__preview img {
    width: 500px;
  }

  .description-working__list li {
    padding: 0px 20px 0px 0px;
  }
}

@media (max-width: 1200px) {
  .quote-top-header__label {
    font-size: 35px;
  }
}

@media (max-width: 1100px) {
  .top-header__button button {
    display: none;
  }
}

@media (max-width: 911.98px) {
  .quote-top-header__label {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    padding: 0 10px;
  }
}